*{
    margin:0% ,auto;
    padding: 0%;
    box-sizing: border-box;
}
#todolist{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width:70vw;
    background-color: black;
    color: aliceblue;
}
#todolist>input{
    width: 200px;
}